.videos_eventos{
  background-color: #DCEDF6;
  // height: 300px;
  margin-top: 50px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-evenly;
  .item_videos_eventos{
    // margin-right: 40px;
  }
}
