#popup {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1001;
  -moz-z-index: 1001;
  -webkit-z-index: 1001; }

.content-popup {
  margin: 0px auto;
  margin-top: 100px;
  position: relative;
  padding: 5px;
  width: 520px;
  min-height: 250px;
  border-radius: 4px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 2px 5px #666666;
  box-shadow: 0 2px 10px #666666; }

.content-popup h2 {
  color: #48484B;
  border-bottom: 1px solid #48484B;
  margin-top: 0;
  padding-bottom: 4px; }

.popup-overlay {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  display: none;
  background-color: #777777;
  cursor: pointer;
  opacity: 0.7; }

.close #close {
  position: absolute;
  right: 15px;
  color: #DE2C74;
  z-index: 1005; }