main{
  font-family: $fuenteContenido;
  color: $gris;
  // background-color: $cielo;
}
.bgPrincipal,
.bgSecundario,
.bgCielo{
  margin-top: 40px;
  margin-bottom: 40px;
  color: $blanco;
  .listaVinetas span{
    color: $blanco;
  }
}
.bgPrincipal{
  background-color: $colorPrincipal;
}
.bgSecundario{
  background-color: $azul;
  color: $blanco;
}
.bgCielo{
  background-color: $cielo;
}

.seccion{
  padding-top: 40px;
  padding-bottom: 40px;
}

// ===========   WUP  fonts   ============
@font-face {
  font-family: "Arial";
  src: url("fonts/ARIAL.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Arial Bold";
  src: url("fonts/ARIALBD.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Arial Black";
  src: url("fonts/ArialCEMTBlack.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Arial Light";
  src: url("fonts/ARIALLGT.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Arial Medium";
  src: url("fonts/ArialMdm.ttf");
  font-display: swap;
}


//============   Títulos   ================
.tituloPV{
  @include tituloPrincipal($verde);
}
.tituloPB{
  @include tituloPrincipal($blanco);
}
.tituloPA{
  @include tituloPrincipal($colorPrincipal)
}


.subtitulo{
  @include subtitulo($colorPrincipal);
}
.subtituloV{
  @include subtitulo($verde);
}

.contenidoFondo{
  background-color: $colorPrincipal;
  color: $blanco;
  display: block;
  font-family: $fuenteMedium;
  letter-spacing: 1px;
  padding-left: 4px;
}

// Lista con viñetas verdes
ul.listaVinetas, 
ol.listaVinetas{
  li{
    color : $verde;
    span{
      color : $gris;
    }
  }
}



.fotos_ciudades{
  display: flex;
  margin-top: 80px;
  padding-bottom: 50px;
  justify-content: space-evenly;
}
.img_ciudades{
  height: 200px;
}

.img-medium{
  height: 150px;
}

  //filtro 
.filtro{
  filter: brightness(50%) saturate(105%);
  -webkit-filter: brightness(50%) saturate(105%);
  -moz-filter: brightness(50%) saturate(105%);
}
  